*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47,150,163),rgb(48,62,143));
    font-family: sans-serif;
    color: white;
}
.location,
.temp{
    height: 60vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.temp{
    flex-direction: column;
}
.degree-section{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.degree-section span{
    margin: 15px;
    font-size: 60px;
}
.degree-section h2{
    font-size: 80px;
}
.location-timezone{
    font-size: 40px;
}
.temp-disc{
    font-size: 50px;
}